<div class="container mt-5">
  <h2 class="mb-4">Registration Form</h2>
  <form (ngSubmit)="submitForm()" class="row g-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="col-md-6">
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="col-md-6">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Age" [(ngModel)]="age" name="age">
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" [(ngModel)]="dob" name="dob">
    </div>
    <div class="col-md-6">
      <select class="form-select" [(ngModel)]="country" name="country">
        <option value="">Select Country</option>
        <option value="Philippines">Philippines</option>
        <option value="USA">USA</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>Gender:</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="gender" name="gender" value="Male"> Male
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="gender" name="gender" value="Female"> Female
      </div>
    </div>
    <div class="col-md-6">
      <label>Account Type:</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="accountType" name="accountType" value="Free"> Free
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="accountType" name="accountType" value="Premium"> Premium
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="terms" name="terms">
        <label class="form-check-label">Agree to Terms</label>
      </div>
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
